<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <div text-left>
          <img style="width: 75%" src="../../assets/imgs/THE FOREST'S.png" style="text-align: center;" />
        <h2>
          The Forest's News merupakan aplikasi mobile yang berfokus pada info
          terkini hutan ditujukan untuk meningkatkan kesadaran masyarakat akan
          hutan yang semakin hari mengalami beberapa persoalan seperti kebakaran
          hutan, penebangan hutan lindung, dsb.
        </h2>
        <h2>
          <br />
          Aplikasi ini diharapkan mendapat perhatian masyarakat yang berdampak
          aksi nyata untuk melindungi hutan.
        </h2>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div text-left>
        <h2>Muhammad Naufal Randhika</h2>
        <p>00000009760</p>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div text-left>
        <h2>Reza Fadhilah Khan</h2>
        <p>00000009098</p>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div text-left>
        <h2>Peter</h2>
        <p>00000013223</p>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div text-left>
        <h2>Tung Leihu</h2>
        <p>00000021031</p>
      </div>
    </ion-card-content>
  </ion-card>

  <h1>UMN 2019</h1>
</ion-content>
