<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div style="text-align: center;" margin>
      <img style="width: 75%" src="../../assets/imgs/umnlogo.png" />
      <ion-title color="#228B22">Universitas Multimedia Nusantara</ion-title>
    </div>

    <ion-item>
      <ion-icon name="home" slot="start"></ion-icon>
      Jl. Scientia Boulevard, Gading Serpong, Tangerang, Banten-15811 Indonesia
      (T)+62-21.5422.0808 (F)+62-21.5422.0800 e-mail: marketing@umn.ac.id
    </ion-item>
  </ion-list>
  <div style="text-align: center;" margin>
    
    <app-location-picker></app-location-picker>
    <ion-label *ngIf="address">Address: {{ address }}</ion-label>
  </div>
 
  <!-- <agm-map [latitude]="latitude" [longitude]="longitude"> </agm-map> -->
</ion-content>
