<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
        <ion-avatar>
            <img style="width: 75%" src="../../assets/imgs/images.jpg" />
         </ion-avatar>
      <div text-left>
        <h2>Nama : Muhammad Naufal Randhika</h2>
        <h2>Email : Muhammad.Naufal.Randhika@student.umn.ac.id</h2>
        <h2>Nomor Telepon: 08123456789 </h2>
        <h2></h2>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
